# App
API_PORT=3000
NODE_ENV=development

# Database
DB_CONNECTION=postgres
#For dev localhost. Prod: Must be docker container name, when containers are in same network 
DB_HOST=localhost
DB_DATABASE=aqs
DB_USERNAME=postgres
DB_PASSWORD=
DB_PORT=5432

# JWT Authentication
APP_SECRET=
APP_TOKEN_EXPIRES_IN=7d